*{
    /* margin: 0; */
    padding: 0;
}
body{
    background-color: black;
}

#navbar{
    display: flex;
    height: 100px;
    width: 100%;
    
    justify-content: space-between;
    background-color: rgb(26,36,47) ;   
    /* padding: 15px; */
}

a{
    text-decoration: none;
    color: white;
}
#navbar a:hover {
    color: red;
}
#navbar a{
    cursor: pointer;
}
.en{
    color: white;
    display: flex;
    gap: 10px;
}
.signup{
    /* display: flex; */
    gap: 30px;
    font-size: 30px;
    align-items: center;
}
.image{
    height: 70px;
    width: 140px;
    

}




  select{
      width: 27px;
      border: none;
      background-color: none;
  }

 


  .amazonimg{
      height: 50px;
      margin-top: 25px;
      margin-left: 40px;
  }
  .box1{
      display: flex;
      gap: 30px;
     margin-top: 40px;
     font-size: 20px;
     margin-right: 20px;
  }

  .k{
      color: #fff;
      font-size: 45px;
      margin-left: 40px;

  }
  .t{
      color: #fff;
      font-size: 30px;
      margin-top: 20px;
      margin-left: 40px;
      font-family: sanchez;
  }
  .btn{
      background-color: #026f94;
      margin-left: 45px;
      margin-top: 20px;
  }

  .btn2{
      background-color: #026f94;
      border: none;
      color: white;
      padding: 15px 92px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      margin-left: 40px;
      border-radius: 10px;
  }
  .c{
    color: #fff;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 100px;
    font-family: sanchez;
}
.photo{
    height: 600px;
    width: 100%;
    display: flex;
}
.photo > #l{
color: #fff;
}
#l{
    height: 70%;
    width: 50%;
 
    margin-top: 100px;
    padding-left: 100px;
}
#R{
    height: 100%;
    width: 70%;
}
#img1{
    height: 100%;
    width: 100%;
}

#favourite{
    height: 700px;
    width: 100%;
    
    background-color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 40px;

}

#favourite > div{
    height: 90%;
    width: 45%;
    margin-top: 35px;


}

#favourite> .b1 p{
    font-family: Amazon Ember;
    height: 50px;
    font-weight: 400px;
    font-size: 45px;
    line-height: 50px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#favourite> .b1> p+p{
    font-family: Amazon Ember;
    height: 50px;
    font-weight: 400px;
    font-size: 31px;
    line-height: 50px;
    color: #000000;
    margin-top: 100px;
}

#favourite> .b2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    
    gap: 10px;
}


#favourite > .b2 >.b .a{
    height: 100%;
    width: 100%;
   
    
}
#couple{
    height: 500px;
    width: 100%;
    display: flex;
}
#L1{
    height: 100%;
    width: 50%;
    color: #fff;
}
#R1{
    height: 100%;
    width: 50%;
}
#R1 > img{
    height: 100%;
}


.btn3{
    background-color: rgb(15,121,175);
    margin-left: 45px;
    margin-top: 20px;
}

.btn4{
    background-color: #026f94;
    border: none;
    color: white;
    padding: 15px 92px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 5px;
}

#remote{
    height: 700px;
    width: 100%;
    display: flex;
    margin-top: 80px;
    background-color: rgb(62,62,62);
}
#L3{
    height: 100%;
    width: 50%;
    color: #fff;
}
#R3{
    height: 100%;
    width: 50%;
}
#L3 > img{
    height: 100%;
    width: 90%;
}


.right{
   margin-left: 890px;

}

.btn5{
    background-color: rgb(15,121,175);
    margin-left: 45px;
    margin-top: 20px;
}

.btn6{
    background-color: #026f94;
    border: none;
    color: white;
    padding: 15px 92px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 5px;
}
.x{
    color: #fff;
    font-size: 55px;
    margin-left: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.y{
    color: #fff;
    font-size: 35px;
    margin-top: 0px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: sanchez;
}
#cartoon{
    height: 600px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    gap: 30px;
    justify-content: center;
   
}
#cartoon>.left1{
    height: 100%;
    width: 47%;
}
#cartoon>.right1{
    height: 100%;
    width: 47%;
}
.left1>.q{
    color: #fff;
    font-size: 65px;
  
}
.left1> .r{
    color: #fff;
    font-size: 35px;
    margin-top: 20px;
    font-family: sanchez;
}
.left1 > .btn7{
    background-color: rgb(15,121,175);
    margin-top: 20px;
}
.left1 > .btn8{
    background-color: #026f94;
    border: none;
    color: white;
    padding: 15px 92px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.right1> .serial{
   
    height: 60%;
    width: 100%;
    margin-top: 235px;
}
#end{
    height: 60px;
    width: 140px;
    display: flex;
    margin: auto;
    margin-top: 30px;

}
#end > .end{
    text-align: center;
}
#copyright{
    text-align: center;
}
#copyright  .privacy{
    color: blue;
}
#copyright  p{
    color: #fff;
}




@media all and (min-width: 421px) and (max-width: 720px){
    #navbar{
        width: 100%;
    } 
    .box1{
        margin-right: 10px;
      
    } 
    .photo{
        display: block;
        text-align: center;
        
    } 
    #R{
        margin-top: 370px;
        height: 700px; 
        width: 90%; 
         margin-left: 30px
    } 

    #R>#img1{
        width: 90%;
        height: auto;
      
    } 
    #favourite{
        
        display: block;
        margin-top: 500px;
        width: 100%;
        height: 400px;
    }

    #favourite > .b1{
      margin-left: 10px;
      width: 90%;
      height: auto;

    }
    #favourite> .b2{
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);
       margin-left: 0px;
       width: 90%;
       margin-top: 300px;
       margin-left: 30px;
    }
    #couple{
        display: block;
        width: 100%;
        margin-left: 10px;
        }
    #L1{
        margin-top: 1200px;
        margin-left: 150px;
     }
    #R1{
       margin-top: 370px;
    }
    #R1 > img{
        height: 100%;
        width: 180%;
     }
    #remote{
        display: block;
        width: 90%;
        margin-left: 10px;
      }
    #L3{
       margin-top: 800px;
        }

    #L3 > img{
        width: 200%;
        
        height: 100%;
        margin-top: 40px;
     } 
    #R3{
        margin-left: 150px;
    }
    #cartoon{
       display: block; 
    }
    .left1{
       
        margin-top: 1800px;
        margin-left: 190px;
     }
 .right1{
       
        margin-top: 270px;
        margin-left: 180px;
       } 
   #end{
       margin-top: 900px;
   }
   .end{
       text-align: center;
   }
}


@media all and (min-width: 80px) and (max-width: 420px){
      #navbar{
        width: 100%;
        margin-left: 30px;
     }
    .amazonimg{
        margin-top: 40px;
        margin-right: 20px;
    }
    
    .box1{
        margin-right: 2px;
      
      
    }
    .photo{
        display: block;
         text-align: center; 
       
        
    } 
 
     #l{
      width: 90%;
      box-sizing: border-box;
     
 
    }
    #R{
        margin-top: -10px;
        height: 700px; 
        width: 90%;
         margin-left: 30px;
     } 
    #R>#img1{
        width: 90%;
        height: auto;
        margin-top: 390px;
      
    }
    #favourite{
        
        display: block;
        margin-top: 500px;
        width: 100%;
        height: 400px;
    }

    #favourite > .b1{
      margin-left: 10px;
      width: 90%;
      height: auto;

    }
    #favourite> .b2{
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 200px);
       margin-left: 0px;
       width: 90%;
       margin-top: 250px;
       margin-left: 30px;
    

       
    }
    #couple{
        display: block;
        
        width: 100%;
        margin-left: 10px;
       
       
    }
    #L1{
       
        margin-top: 2000px;
        margin-left: 10px;
        width: 90%;
        box-sizing: border-box;

    }
    #R1{
       margin-top: 130px;
    }
    #R1 > img{
        width: 100%;
        height: 100%;
       
        width: 180%;
        margin-left: 30px;
    } 
    #remote{
        display: block;
       
        margin-left: -170px;
      
      
    }
    #L3{
       
        margin-top: 100px; 
        margin-left: 200px;
     

    }

     #L3 > img{
        width: 200%;
      
        height: 100%;
        margin-top: 420px;
    } 
    #R3{
       
        margin-left: 200px;
        width: 90%;
        box-sizing: border-box;
        margin-top: 800px;
    }
    #cartoon{
       display: block; 
    }
     .left1{
       
        margin-left: 100px;
        width: 90%;
        box-sizing: border-box;
        margin-top: 1800px;
     

    }
.right1{
       
        margin-top: 300px;
        margin-left: 80px; 
    
 }
   #end{
       margin-top: 900px;
   }
   .end{
       text-align: center;
   } 

}